@page "/getfile"
@inject NavigationManager Navigation
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@inject HttpClient Http

<PageTitle>GetFile</PageTitle>

<style>

    .flexbox {
        display: flex;
        justify-content: space-evenly;
    }

    .link {
        justify-content: left;
    }

    .container {
        display: flex;
        justify-content: space-evenly;
        min-width: 100%;
        min-inline-size: 500px;
    }

    .textfield {
        width: 100%;
        min-height: auto;
    }

</style>


<div class="flexbox">

    <MatButton OnClick="@Click">Get Data</MatButton>

</div>

<div class="link">

    <MatButtonLink Href="/" Raised="true">Back</MatButtonLink>

</div>

<div class="container">

    <MatTextField class="textfield" TextArea=true @bind-Value="@data" Label=""></MatTextField>

</div>

@code
{
    string data = String.Empty;

    async void Click(MouseEventArgs e)
    {
        var response = await Http.GetFromJsonAsync<String>("/getfile");
        Console.WriteLine(response);
        //using var response = await Http.GetAsync("http://localhost:5092/getfile");
    }
}
